.nav {
    grid-area: n;
    outline: 2px solid #000;

}
.item a {
    color: #3ad3d3;
    margin: 12px 0px 0 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;

}
.item a.activeLink {
    color: #e11f1f;
}
